body {
    background-color: rgb(166, 192, 218);
}

#Cucas {
    color: white;
    font-size: 45px;
    font-weight: 900px;
}

.Pucas {
    background-color: blue;
}

main {
    background-color: rgb(45, 87, 204);
    color: white;
}
.Cuquilhos {
    background-color: blue;
}

#Cuquis {
    color: rgb(131, 162, 255);
    font-size: 26px;
    font-weight: 10px;
}